<% include ../../partials/header.ejs %>



<div class="container-fluid" style="margin-top:50px;">
<div id="filterDiv"style="padding-top:20px;" class="col-md-offset-7">


<label for="sortBy"> Field To Search By</label>
<select id="sortBy" onchange="OnSelectedIndexChanged(this)"> 
    <option value="First Names"> First Names </option>
    <option value="Last Names"> Last Names </option>
    <option value="Departments"> Departments </option>
  
    </select>
</br>
    <label for="filterText">Text to Search: </label> <input type="text" style="width:225px;" placeholder="Search Employees By <%= searchBy %>" onkeyup="filterTable()" id="filterText"> </input>
</div>
<a href="manageEmployees/add" class="btn btn-success" style="margin-bottom:10px;">Add a New employee</a>


<table class="table table-hover table-responsive table-bordered" id="filterTable">
    <tr><th>First Name</th><th>surName</th><th>department</th><th>Certifications<th>Edit</th><th>Delete</th></tr>
<!--logic to populate table -->
    <% for (var i = 0; i < users.length; i++) { %>
        <tr  on-tap="clickTable(this)" onclick="clickTable(this)"  id="<%= users[i]._id %>">
            <td class="active"  ><%= users[i].firstName %></td>
            <td class="active"><%= users[i].surName %></td>
            <td class="warning" ><%= users[i].departmentname %></td>
            <td class="info">
                <a href="manageEmployees/employeeCertifications/<%= users[i]._id %>" class="btn btn-info">Add Certificate</a>
            </td>
            <td class="info"><a href="manageEmployees/<%= users[i]._id %>" class="btn btn-info">Edit</a></td>
            <td class="danger"><a href="manageEmployees/delete/<%= users[i]._id %>" class="confirmation btn btn-danger">Delete</a></td>
          
        </tr>
    <% } %>

</table>

</div>
<%include ../../partials/footer.ejs%>
