<% include ../../partials/header.ejs %>


<div class="container-fluid" style="margin-top:50px;">

 <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">First Name: </label>
            <input  id="firstname" name="firstname"  required type="text" readonly="true" value="<%= users.firstName %>" />
        </div>
         <div class="form-group">
            <label for="surname" class="col-sm-2 control-label">Last Name: </label>
            <input  id="surname" name="surname" readonly="true" required type="text"  value="<%= users.surName %>" />
        </div>
        <div class="form-group">
            <label for="departmentname" class="col-sm-2 control-label">Department: </label>
            <input  id="departmentname" name="departmentname" readonly="true" required type="text"  value="<%= users.departmentname %>" />
        </div>


<table class="table table-hover table-responsive table-bordered" id="filterTable">
    <tr><th>Course</th><th>Expiry</th><th>Edit</th><th>Delete</th></tr>
<!-- logic attach the associated id's to the proper things in the table' -->
    <% for (var i = 0; i < userCourses.length; i++) { %>
        <tr>
            <td class="active"><%= userCourses[i].coursename %></td>
            <td class="active"><%= userCourses[i].expiry %></td>


            <td class="info"><a href="/employeeDashboard/employeeCertifications/<%= userCourses[i].userid %>" class="btn btn-info">Edit</a></td>
            <td class="danger"><a href="delete/<%= userCourses[i]._id %>/<%=users._id%>" class="confirmation btn btn-danger">Delete</a></td>

        </tr>
    <% } %>

</table>
</div>
<%include ../../partials/footer.ejs%>
